.settings {
    .settings-group {
        @extend .py-3;
        border-bottom: 1px solid $grey-e;
        .title {
            font-size: 18px;
        }
        small {
            display: block;
        }
        .actions {
            .btn {
                min-width: unset;
            }
        }
    }
}