@import "./variables";

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
		
		&:hover {
			background-color: mix(black,$primary-color, 20%) ;
	    border-color: mix(black,$primary-color, 20%) ;
		}
}
.btn-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
		
		&:hover {
			background-color: mix(black,$secondary-color, 20%) ;
	    border-color: mix(black,$secondary-color, 20%) ;
		}
}

.nav-item {
  .nav-link {
    text-decoration: none;
    color: $secondary-color;
    font-weight: 900;
    
    &.active {
      color: $success-color;
      box-shadow: inset 0 -2px 0 0 $primary-color;
    }
  }
}
.nav-tabs > li > a {
  margin-right: 0px!important;
}
.show {
	visibility: visible!important;
}
